<br>
<label for="rating_score">Rating:</label><br>
<div class="col-md-12">
    <div class="row lead">
        <div id="stars" class="starrr"></div>
    </div>
</div>

<input name="rating[score]" id="score" type="hidden">
<label for="rating_review">Review:</label><br>
<textarea class="col-md-6" id="rating_review" name="rating[review]" rows="5"><%= @rating.review %></textarea>
<br>

