<h1>Recipes</h1>
<hr>

<ul>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.slug %>"><%= recipe.name %></a></li>
  <%end%>
</ul>
<hr>

<%= render('layouts/errors', object: @recipe) %>

<div class='hide_buttons'><button class='edit'>Add New Recipe</button></div>

<div class="edit_form">
  <form action="/recipes" method="post">
    <%= render('form') %>
    <button>Create Recipe</button>
  </form>
</div>
